.titleContainerCart{
    color: #ff7d1a;
    font-size: 1.6rem;
    text-align: center;
    text-transform: capitalize;
}

.close{
    cursor: pointer;
    position: fixed;
    left: 1290px;
    top: 80px;
    font-size: 1.6rem;
}

.containerCart{
    background-color: #ffffff;
    box-shadow: 0 0 5px #3d3d3d;
    border-radius: 4px;
    height: 300px;
    padding: 20px;
    position: fixed;
    right: 80px;
    top: 80px;
    width: 600px;
    z-index: 1;
}

.listProdCart{
    overflow-y: auto;
    scroll-behavior: smooth;
    width: auto;
    height: 300px;
}

.listProdCart::-webkit-scrollbar {
    width: 8px;
    background: rgb(255, 255, 255);
}

.listProdCart::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 20px;
}

.listProdCart::-webkit-scrollbar-thumb {
    background-color: #ff7d1a;
    border-radius: 20px;
}

.sectionCart{
    border-bottom: 2px solid #5a5a5a;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    padding: 20px 10px;
    width: 560px;
    height: 120px;
}

.infoProdCart{
    width: 500px;
}

.imgCardProd{
    width: 70px;
    height: 80px;
}

.titleCart{
    padding: 10px;
    font-size: 1rem;
}

.priceCart{
    padding: 6px;
    font-size: 0.800rem;
    font-weight: bold;
}

.priceCart::first-letter{
    color: #1fe206;
    font-size: 0.900rem;
}

.boxButtomSecctionCard{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border-radius: 10px;
}

.quantity{
    color: #fb6f04;
    font-size: 0.800rem;
    padding: 8px;
    text-transform: capitalize;
}

.buttomsImgCart{
    cursor: pointer;
    width: 15px;
    height: 12px;
    margin: 12px 0px 0px 0px;
}

.countCart{
    position: relative;
    right: 0px;
    top: 5px;
    font-size: 1.3rem;
    font-weight: bold;
    color: #262626;
}

.btnDelete{    
    background-color: #f40a0a;
    border-radius: 6px;
    cursor: pointer;
    height: 20px;
    position:relative;
    padding:6px;
    top: 30px;
    width: 20px;
}

.sectionPay {
    position: absolute;
    padding: 10px;
    width: 97%;
    top: 340px;
    left: 0px;
    background-color: #5c5c5c;
}

.btnPay {
    font-size: 0.900rem;
    margin: 8px;
    border: none;
    padding: 10px;
    color: #ffffff;
    background: #16901c;
    border-radius: 6px;
    text-transform: capitalize;
    cursor: pointer;
    transition: background 0.8s;
}

.btnCancel {
    font-size: 0.900rem;
    margin: 8px;
    border: none;
    padding: 10px;
    color: #ffffff;
    background: #ff0202;
    border-radius: 6px;
    text-transform: capitalize;
    cursor: pointer;
    transition: background 0.8s;
}

.btnCancel:hover , .btnPay:hover {
    background: #000000;
}

.total {
    position: relative;
    left: 130px;
    font-size: 1.2rem;
    color: #ffffff;
}

.total span{
    color: #02ff39;
    font-weight: bold;
}

.messageAddProducts {
    position: absolute;
    top: 160px;
    left: 120px;
    text-align: center;
    font-size: 1.3rem;
}

/* alert if the user press the button delete */

.alertRemove{
    position: fixed;
    width: 400px;
    height: 180px;
    top: 160px;
    left: 56%;
    text-align: center;
    color: #ffffff;
    border-radius: 10px;
    background-color: #ff7d1a;   
    box-shadow: 0px 0px 10px #000000;
    z-index: 1;
}

.alertRemove p {
    padding: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
    color: #ffffff;
    text-transform: capitalize;
}

.imgProductDelete{
    position: absolute;
    top: 70px;
    left: 30px;
    width: 80px;
    height: 80px;
    border-radius: 10%;
}

.boxActionsDelect{
    display: flex;
    justify-content: flex-end;
    margin-right: 0px;
}

.btnAlert{
    cursor: pointer;
    border: none;
    font-size: 0.800rem;
    font-weight: bold;
    text-transform: capitalize;
    padding:8px;
    margin: 20px;
    color:#000000;
    background:#fbfbfb;
    border-radius: 4px;
    box-shadow: 0 6px #000000;
}

.btnAlert:active{
    box-shadow: 0 2px #000000;
    transform: translateY(4px);
}

.btnAlert:nth-child(1){
    background:#ffffff;
}

.btnAlert:nth-child(2){
    background:#ffffff;
}

