
.containerFormPay{
    display: flex;
    justify-content: center;
    /* background-color: #ffffff; */
    border-radius: 4px;
    box-shadow: 0px 0px px #000000;
}

.titleFormPay{  
    font-size: 2rem;
    padding: 0px 30px;
    text-transform: uppercase;
}   

form{
    padding: 50px;
}

.cardPayment{
    background-color: #ff7d1a;
    border-radius: 20px;
    height: 240px;
    padding: 20px;
    width: 50%;
}

form h3{
    color: #fff;
    font-size: 1.1rem;
    text-transform: uppercase;
}

.sectionLogoCard{
    position: absolute;
    top: 204px;
    left: 560px;
}

.sectionLogoCard img{
    width: 120px;
}

.textInput{
    color: #ffffff;
    font-size: 0.800rem;
    padding:8px;
    text-transform: uppercase;
}

.numberInput{
    color: #ffffff;
    font-size: 0.800rem;
    padding:8px 0px 8px 14px;
    text-transform: uppercase;
}

.inputNameCard{
    padding: 8px;
}

.inputNameCard input{
    padding: 6px 45px; 
    border: none;
    border-radius: 4px;
    text-align: center;
}

.numberCard{
    display: flex;
    justify-content: space-around;
    grid-gap: 0px;
}

.numberCard > input{
    border: none;
    border-radius: 4px;
    padding:6px;
    text-align: center;
    width:16%;
}

.numberCard > input::placeholder{
    color: #3c3c3c;
    font-size: 1rem;
    text-align: center;
}

.sectionCodeDateCard{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 0px;
    padding: 10px;
}

.codeDateCard{
    display: flex;
    justify-content: space-between;
    grid-gap: 10px;
}

.codeInput{
    border: none;
    border-radius: 4px;
    height: 8px;
    padding:10px;
    text-align: center;
    width:60%;
}

.codeInput::placeholder{
    color: #3c3c3c;
    font-size: 1rem;
    text-align: left;
    padding-left: 10px;
}

.chip{
    position: relative;
    top: 6px;
    left: 55px;
}

.chip img{
    width: 70px;
}